.ppCell {
  border : 1px solid black ;
  width: 15px;
  height: 15px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.ppRow {
  display: inline-block;
}

.ppSwatchCell {
  border : 1px solid black ;
  width: 15px;
  height: 15px;
}

.ppSwatchRow {
  display: inline-block;
}