

.ppCell {
  background-color: white;
  border : 1px solid black ;
  width: 40px;
  height: 40px;


  display: inline-block;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

input{
  margin: 30px 10px 10px 20px;
  width: 40px;
  float: left;
  height: 40px;
  font-size: 30px;
}

body{
  font-family: 'Roboto', bold;
}


.ppSwatchCell {
  border : 3px solid  transparent;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.ppSwatchCell:hover{
  border : 3px solid black ;
}

.selectedColorElement{
  border: 3px solid black;
}


#ppCanvas {

  height: 680px;
  width : 680px;
  padding: 50px 50px 50px 50px;
  background-color: gray;
  float : left;
  cursor : crosshair;
}

#ppSwatchArea {
  height: 640px;
  width: 200px;
  background-color: #260000;
  padding: 90px 40px 50px 40px;
  float : left;
}

#pixelPainter {
  display: inline-block;
  font-family: 'Roboto', bold;
}

#ppSwatch{
   float: left;
margin: 40px 20px 40px 20px;

}

button {
  float: left;
  width: 160px;
  height: 40px;
  margin: 30px 20px 0px 20px;
  /*padding: auto;*/
  background-color: transparent;
  border: 1px solid #94B84D;
  /*padding: 2px 2px 2px 2px;*/
  font-size: 20px;
  color:#94B84D;

}

button:hover {
  color: orange;
  background-color: transparent;
  border: 3px solid orange;
  /*font-size: 22px;*/
  font-color: orange;
}

#erasor {
  float: left;
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  background-color: white;
  width: 40px;
  height: 40px;
}

#logo{
  float: left;
  /*margin: 20px 20px 20px 20px;*/
  display: inline-block;
  width : 190px;
}

#logoText{
  font-family: 'Roboto', bold;
   display: inline-block;
  font-color: orange;
  color : orange;
  font-size: 30px;
}

#logoImage {
  display: inline-block;
  width : 20px;
  height: 20px;
  background-image: url('../assets/logo.svg');
}

#undo{
  padding: 5px 7px 5px 7px;
  float:right;
  margin-left: 0px;
  margin-top: 0px;
  display: inline-block;
/*  background-image: url('../assets/undo.svg');
  background-size: 25px;
  background-repeat: no-repeat;*/
  text-align: right;
  height: 40px;
  width: 100px;
}

#undo:hover{
  color: orange;
  background-color: transparent;
  border: 3px solid orange;
  /*font-size: 22px;*/
  font-color: orange;
  padding: 3px 5px 3px 5px;


}

#undoImage{
  /*position: fixed;*/
  /*vertical-align: left;*/
  float : left;
  width: 20px;
  height: 20px;
  padding-left: 0px;
}

#resolutionRenderButton{
  width: 100px;
  float: right;
  margin-left: 0px;
  margin-bottom: 10px;
}

#renderInstructions{
  text-align: left;
  float: left;
  width : 200px;
  font-size: 15px;
  color: #94B84D;
  margin: 10px 20px 30px 20px;
}

#savePrompt{
    text-align: left;
  float: left;
  width : 200px;
  font-size: 15px;
  color: #94B84D;
  margin: 10px 20px 30px 20px;

}